body {
    .color-white { color: white; }
    .bg-white { background-color: white; }
    .bg-outline-white { border: 1px solid white; }

    .color-black { color: black; }
    .bg-black { background-color: black; }
    .bg-outline-black { border: 1px solid black; }

    .color-red { color: red; }
    .bg-red { background-color: red; }
    .bg-outline-red { border: 1px solid red; }

    .color-orange { color: orange; }
    .bg-orange { background-color: orange; }
    .bg-outline-orange { border: 1px solid orange; }

    .color-gold { color: gold; }
    .bg-gold { background-color: gold; }
    .bg-outline-gold { border: 1px solid gold; }

    .color-yellow { color: yellow; }
    .bg-yellow { background-color: yellow; }
    .bg-outline-yellow { border: 1px solid yellow; }

    .color-yellowgreen { color: yellowgreen; }
    .bg-yellowgreen { background-color: yellowgreen; }
    .bg-outline-yellowgreen { border: 1px solid yellowgreen; }

    .color-green { color: green; }
    .bg-green { background-color: green; }
    .bg-outline-green { border: 1px solid green; }

    .color-mediumseagreen { color: mediumseagreen; }
    .bg-mediumseagreen { background-color: mediumseagreen; }
    .bg-outline-mediumseagreen { border: 1px solid mediumseagreen; }

    .color-aqua { color: aqua; }
    .bg-aqua { background-color: aqua; }
    .bg-outline-aqua { border: 1px solid aqua; }

    .color-deepskyblue { color: deepskyblue; }
    .bg-deepskyblue { background-color: deepskyblue; }
    .bg-outline-deepskyblue { border: 1px solid deepskyblue; }

    .color-dodgerblue { color: dodgerblue; }
    .bg-dodgerblue { background-color: dodgerblue; }
    .bg-outline-dodgerblue { border: 1px solid dodgerblue; }

    .color-blue { color: blue; }
    .bg-blue { background-color: blue; }
    .bg-outline-blue { border: 1px solid blue; }

    .color-indigo { color: indigo; }
    .bg-indigo { background-color: indigo; }
    .bg-outline-indigo { border: 1px solid indigo; }

    .color-blueviolet { color: blueviolet; }
    .bg-blueviolet { background-color: blueviolet; }
    .bg-outline-blueviolet { border: 1px solid blueviolet; }

    .color-violet { color: violet; }
    .bg-violet { background-color: violet; }
    .bg-outline-violet { border: 1px solid violet; }

    .color-plum { color: plum; }
    .bg-plum { background-color: plum; }
    .bg-outline-plum { border: 1px solid plum; }

    .color-magenta { color: magenta; }
    .bg-magenta { background-color: magenta; }
    .bg-outline-magenta { border: 1px solid magenta; }

    .color-pink { color: pink; }
    .bg-pink { background-color: pink; }
    .bg-outline-pink { border: 1px solid pink; }

    .color-lightcoral { color: lightcoral; }
    .bg-lightcoral { background-color: lightcoral; }
    .bg-outline-lightcoral { border: 1px solid lightcoral; }

    .color-crimson { color: crimson; }
    .bg-crimson { background-color: crimson; }
    .bg-outline-crimson { border: 1px solid crimson; }

    .color-orangered { color: orangered; }
    .bg-orangered { background-color: orangered; }
    .bg-outline-orangered { border: 1px solid orangered; }

    .color-tomato { color: tomato; }
    .bg-tomato { background-color: tomato; }
    .bg-outline-tomato { border: 1px solid tomato; }

    .color-coral { color: coral; }
    .bg-coral { background-color: coral; }
    .bg-outline-coral { border: 1px solid coral; }

    .color-sandybrown { color: sandybrown; }
    .bg-sandybrown { background-color: sandybrown; }
    .bg-outline-sandybrown { border: 1px solid sandybrown; }

    .color-darkorange { color: darkorange; }
    .bg-darkorange { background-color: darkorange; }
    .bg-outline-darkorange { border: 1px solid darkorange; }

    .color-darkkhaki { color: darkkhaki; }
    .bg-darkkhaki { background-color: darkkhaki; }
    .bg-outline-darkkhaki { border: 1px solid darkkhaki; }

    .color-olive { color: olive; }
    .bg-olive { background-color: olive; }
    .bg-outline-olive { border: 1px solid olive; }

    .color-seagreen { color: seagreen; }
    .bg-seagreen { background-color: seagreen; }
    .bg-outline-seagreen { border: 1px solid seagreen; }

    .color-teal { color: teal; }
    .bg-teal { background-color: teal; }
    .bg-outline-teal { border: 1px solid teal; }

    .color-navy { color: navy; }
    .bg-navy { background-color: navy; }
    .bg-outline-navy { border: 1px solid navy; }

    .color-salmon { color: salmon; }
    .bg-salmon { background-color: salmon; }
    .bg-outline-salmon { border: 1px solid salmon; }

    .color-peachpuff { color: peachpuff; }
    .bg-peachpuff { background-color: peachpuff; }
    .bg-outline-peachpuff { border: 1px solid peachpuff; }

    .color-moccasin { color: moccasin; }
    .bg-moccasin { background-color: moccasin; }
    .bg-outline-moccasin { border: 1px solid moccasin; }

    .color-palegoldenrod { color: palegoldenrod; }
    .bg-palegoldenrod { background-color: palegoldenrod; }
    .bg-outline-palegoldenrod { border: 1px solid palegoldenrod; }

    .color-lightyellow { color: lightyellow; }
    .bg-lightyellow { background-color: lightyellow; }
    .bg-outline-lightyellow { border: 1px solid lightyellow; }

    .color-honeydew { color: honeydew; }
    .bg-honeydew { background-color: honeydew; }
    .bg-outline-honeydew { border: 1px solid honeydew; }

    .color-lightgreen { color: lightgreen; }
    .bg-lightgreen { background-color: lightgreen; }
    .bg-outline-lightgreen { border: 1px solid lightgreen; }

    .color-mediumaquamarine { color: mediumaquamarine; }
    .bg-mediumaquamarine { background-color: mediumaquamarine; }
    .bg-outline-mediumaquamarine { border: 1px solid mediumaquamarine; }

    .color-paleturquoise { color: paleturquoise; }
    .bg-paleturquoise { background-color: paleturquoise; }
    .bg-outline-paleturquoise { border: 1px solid paleturquoise; }

    .color-powderblue { color: powderblue; }
    .bg-powderblue { background-color: powderblue; }
    .bg-outline-powderblue { border: 1px solid powderblue; }

    .color-lightblue { color: lightblue; }
    .bg-lightblue { background-color: lightblue; }
    .bg-outline-lightblue { border: 1px solid lightblue; }

    .color-thistle { color: thistle; }
    .bg-thistle { background-color: thistle; }
    .bg-outline-thistle { border: 1px solid thistle; }

    .color-lavender { color: lavender; }
    .bg-lavender { background-color: lavender; }
    .bg-outline-lavender { border: 1px solid lavender; }

    .color-palevioletred { color: palevioletred; }
    .bg-palevioletred { background-color: palevioletred; }
    .bg-outline-palevioletred { border: 1px solid palevioletred; }

    .color-burlywood { color: burlywood; }
    .bg-burlywood { background-color: burlywood; }
    .bg-outline-burlywood { border: 1px solid burlywood; }

    .color-tan { color: tan; }
    .bg-tan { background-color: tan; }
    .bg-outline-tan { border: 1px solid tan; }

    .color-silver { color: silver; }
    .bg-silver { background-color: silver; }
    .bg-outline-silver { border: 1px solid silver; }

    .color-beige { color: beige; }
    .bg-beige { background-color: beige; }
    .bg-outline-beige { border: 1px solid beige; }

    .color-lightgray { color: lightgray; }
    .bg-lightgray { background-color: lightgray; }
    .bg-outline-lightgray { border: 1px solid lightgray; }

    .color-gainsboro { color: gainsboro; }
    .bg-gainsboro { background-color: gainsboro; }
    .bg-outline-gainsboro { border: 1px solid gainsboro; }

    .color-mistyrose { color: mistyrose; }
    .bg-mistyrose { background-color: mistyrose; }
    .bg-outline-mistyrose { border: 1px solid mistyrose; }

    .color-seashell { color: seashell; }
    .bg-seashell { background-color: seashell; }
    .bg-outline-seashell { border: 1px solid seashell; }

    .color-aliceblue { color: aliceblue; }
    .bg-aliceblue { background-color: aliceblue; }
    .bg-outline-aliceblue { border: 1px solid aliceblue; }

    .color-lemonchiffon { color: lemonchiffon; }
    .bg-lemonchiffon { background-color: lemonchiffon; }
    .bg-outline-lemonchiffon { border: 1px solid lemonchiffon; }

    .color-linen { color: linen; }
    .bg-linen { background-color: linen; }
    .bg-outline-linen { border: 1px solid linen; }

    .color-floralwhite { color: floralwhite; }
    .bg-floralwhite { background-color: floralwhite; }
    .bg-outline-floralwhite { border: 1px solid floralwhite; }

    .color-ghostwhite { color: ghostwhite; }
    .bg-ghostwhite { background-color: ghostwhite; }
    .bg-outline-ghostwhite { border: 1px solid ghostwhite; }
}
