{% extends "base.html" %}
{% load static %}
{% load preferences_filters %}

{% block title %}Template{% endblock %}
{% block body_class %}page-template{% endblock %}

{% block content %}

{% include 'accounts/includes/header-tag.html' %}

<main class="container-fluid">
    <div class="col">
        <div class="row">
            <div class="col-12 p-4 px-md-5 mt-3">
                <h1 class="text-center"><i class="bi bi-people-fill color-mediumseagreen"></i> Template</h1>
            </div>
        </div>
        <div class="row">
            <div class="col px-5 py-4 d-flex flex-column">
                {% include 'projects/includes/projects-nav-left.html' %}
            </div>
            <div class="col px-5 py-4 d-flex flex-column">
                <!-- CONTENT -->
            </div>
        </div>
    </div>
</main>
{% endblock %}