{% load static wagtailcore_tags wagtailuserbar %}
{% load preferences_filters %}

<!DOCTYPE html>
<html class="{% if request.user|get_preference:'dark_mode' %}dark-mode{% endif %}">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %} on {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{% static 'custom/images/favicon.ico' %}">

        {# Bootstrap #}
        <link href="{% static 'lib/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}" rel="stylesheet">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/global-min.css' %}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} {% if request.user|get_preference:'dark_mode' %}dark-mode{% endif %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Bootstrap #}
        <script src="{% static 'lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/global-min.js' %}"></script>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}


        {% if messages %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for message in messages %}
            <div id="myToast" class="toast fs-6 align-items-center text-white bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <!--          <div class="toast-header">-->
    <!--            -->
    <!--            <strong class="me-auto">Notification</strong>-->
    <!--            <small>Nice one!</small>-->
    <!--            -->
    <!--          </div>-->
                <div class="d-flex">
                    <div class="toast-body">
                        <i class="bi bi-bell-fill me-2"></i> {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close Notification" title="Close"></button>
                </div>
            </div>
            {% endfor %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var toastEl = document.getElementById('myToast');

                    // Initialize the toast
                    var myToast = new bootstrap.Toast(toastEl);
                    myToast.show();
                });
            </script>
        </div>
        {% endif %}

        {% include 'includes/tracking-codes.html' %}
    </body>
</html>