{% extends "base.html" %}
{% load static %}

{% block title %}What's New{% endblock %}
{% block body_class %}page-discover{% endblock %}

{% block content %}

{% include 'accounts/includes/header-tag.html' %}

<main class="container-fluid">
    <div class="col">
        <!-- What's New Section -->
        <section id="whats-new" class="px-3 pt-4 px-md-5 mt-3 mb-1">
            <h1 class="text-center mt-3 mb-5"><i class="bi bi-newspaper color-blueviolet"></i> What's New</h1>
            <div class="row">
                <div class="col-12 col-md-5 mb-4 mb-md-1 p-3">
                    <h2 class="card-title mb-3"><i class="bi bi-journal-text color-lightblue"></i> Latest Release</h2>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Added filters for Project Planner next actions stages.
                        </li>
                        <li class="mb-2">
                            Added ability to message users from their profile.
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-5 p-3 offset-md-1">
                    <h2 class="mb-3"><i class="bi bi-check-square color-lightblue"></i> Next Release</h2>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Ability to delete projects, actions, notes, and messages.
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Community Growth Section -->
        <section id="community-growth" class="px-3 px-md-5 pt-4 mb-5">
            <div class="row">
                <div class="col-12 col-md-5 mb-4 mb-md-1 pt-3">
                    <h2 class="mb-3"><i class="bi bi-people-fill color-lightblue"></i> Community Stats</h2>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card text-center shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title text-success">Coming</h3>
                                    <p class="card-text fw-bold">Soon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card text-center shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title text-success">Coming</h3>
                                    <p class="card-text fw-bold">Soon</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card text-center shadow-sm">
                                <div class="card-body">
                                    <h3 class="card-title text-success">Coming</h3>
                                    <p class="card-text fw-bold">Soon</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 p-3 offset-md-1">
                    <h2 class="mb-3"><i class="bi bi-patch-question color-lightblue"></i> Have feedback?</h2>
                    <div class="rounded">
                        <p class="mb-4">We're always looking for ways to improve your experience on Tetra Prime Community. Let us know what you think or suggest new features by filling out our feedback form.</p>
                        <a href="https://www.tetraprime.consulting/helpdesk/tetra-prime-community-support-7" target="_blank" class="btn btn-outline-success">Submit Feedback</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Community Guidelines Section -->
        <section id="guidelines" class="px-3 px-md-5 pt-4 mb-1">
        <h2 class="mb-4 text-center"><i class="bi bi-person-lines-fill color-lightblue"></i> Community Guidelines</h2>
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">10 Key Guidelines</h5>
                <ol>
                    <li>Be respectful and considerate to others.</li>
                    <li>Avoid posting offensive or inappropriate content.</li>
                    <li>Keep discussions constructive and on-topic.</li>
                    <li>Protect your and others' privacy by not sharing personal information.</li>
                    <li>Report any harmful or suspicious activities to moderators.</li>
                    <li>Use proper channels for feedback or complaints.</li>
                    <li>Respect copyright and intellectual property rights.</li>
                    <li>Avoid spamming or self-promotion without permission.</li>
                    <li>Support and help new members feel welcome.</li>
                    <li>Follow all platform terms and conditions.</li>
                </ol>
                <p><i class="bi bi-exclamation-triangle"></i> TPC has the right to suspend any account in violation.</p>
            </div>
        </div>
    </section>
    </div>
</main>
{% endblock %}