.color-red {
  color: red;
}

.bg-red {
  background-color: red;
}

.color-orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.color-gold {
  color: gold;
}

.bg-gold {
  background-color: gold;
}

.color-yellow {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.color-yellowgreen {
  color: yellowgreen;
}

.bg-yellowgreen {
  background-color: yellowgreen;
}

.color-green {
  color: green;
}

.bg-green {
  background-color: green;
}

.color-mediumseagreen {
  color: mediumseagreen;
}

.bg-mediumseagreen {
  background-color: mediumseagreen;
}

.color-aqua {
  color: aqua;
}

.bg-aqua {
  background-color: aqua;
}

.color-deepskyblue {
  color: deepskyblue;
}

.bg-deepskyblue {
  background-color: deepskyblue;
}

.color-dodgerblue {
  color: dodgerblue;
}

.bg-dodgerblue {
  background-color: dodgerblue;
}

.color-blue {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.color-indigo {
  color: indigo;
}

.bg-indigo {
  background-color: indigo;
}

.color-blueviolet {
  color: blueviolet;
}

.bg-blueviolet {
  background-color: blueviolet;
}

.color-violet {
  color: violet;
}

.bg-violet {
  background-color: violet;
}

.color-plum {
  color: plum;
}

.bg-plum {
  background-color: plum;
}

.color-magenta {
  color: magenta;
}

.bg-magenta {
  background-color: magenta;
}

.color-pink {
  color: pink;
}

.bg-pink {
  background-color: pink;
}

.color-lightcoral {
  color: lightcoral;
}

.bg-lightcoral {
  background-color: lightcoral;
}

.color-crimson {
  color: crimson;
}

.bg-crimson {
  background-color: crimson;
}

.color-orangered {
  color: orangered;
}

.bg-orangered {
  background-color: orangered;
}

.color-tomato {
  color: tomato;
}

.bg-tomato {
  background-color: tomato;
}

.color-coral {
  color: coral;
}

.bg-coral {
  background-color: coral;
}

.color-sandybrown {
  color: sandybrown;
}

.bg-sandybrown {
  background-color: sandybrown;
}

.color-darkorange {
  color: darkorange;
}

.bg-darkorange {
  background-color: darkorange;
}

.color-darkkhaki {
  color: darkkhaki;
}

.bg-darkkhaki {
  background-color: darkkhaki;
}

.color-olive {
  color: olive;
}

.bg-olive {
  background-color: olive;
}

.color-seagreen {
  color: seagreen;
}

.bg-seagreen {
  background-color: seagreen;
}

.color-teal {
  color: teal;
}

.bg-teal {
  background-color: teal;
}

.color-navy {
  color: navy;
}

.bg-navy {
  background-color: navy;
}