{% extends "base.html" %}
{% load static %}

{% block body_class %}{% endblock %}

{% block content %}

{% include 'accounts/includes/header-tag.html' %}

<main class="container">
    <div class="row">
        <div id="profile--banner">
            <img src="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col col-md-3 p-4">
            {% include 'accounts/includes/profile-nav-left.html' %}
        </div>
        <div class="col p-4 d-flex flex-column align-items-center">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="100" class="profile-picture">
            {% endif %}
            <h1 class="text-center">Change Password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change Password</button>
                &nbsp;or&nbsp;<a href="/accounts/profile/">Cancel</a>
            </form>
        </div>
        <div class="col col-md-3 p-4">
            <p><strong>Other Options</strong></p>
            <p><a href="#">Preferences</a></p>
            <p><a href="/accounts/change-password/">Change Password</a></p>
            <p><a href="#">Help Center</a></p>
        </div>
    </div>
</main>
{% endblock %}