{% extends "base.html" %}
{% load static %}
{% load preferences_filters %}

{% block body_class %}page-user-profile{% endblock %}

{% block content %}

{% include 'accounts/includes/header-tag.html' %}

<main class="container">
    <div class="row">
        <div id="profile--banner" style="background-image: url('{% static 'custom/images/user-banner-generic.jpg' %}');">
    </div>
    <div class="row mt-3">
        <!--<div class="col col-md-3 p-4">
            {% comment %}
            {% include 'accounts/includes/profile-nav-left.html' %}
            {% endcomment %}
        </div>-->
        <div class="col p-4 px-5 pt-0 d-flex flex-column align-items-center position-relative">
            <img src="{{ GENERIC_USER_PFP }}" alt="Profile Picture" class="profile-picture top-0 mb-4"> <!--position-absolute-->
            <h1>Sorry, not sorry.</h1>
            <p>We're respecting this user's privacy.</p>
            <p>Thank you!</p>
        </div>
        <!--<div class="col col-md-3 p-4">
            <div class="row">
                <div class="d-flex align-items-center">
                    <input id="field&#45;&#45;whatsnew" class="form-control me-2" type="text" placeholder="What are you curious about?">
                    <button class="btn btn-outline-secondary" type="submit">&gt;</button>
                </div>
            </div>
            <hr>
            <div>
                <p>Coming soon...</p>
            </div>
        </div>-->
    </div>
</main>
{% endblock %}