{% extends "base.html" %}
{% load static %}

{% block body_class %}{% endblock %}

{% block content %}

{% include 'accounts/includes/header-tag.html' %}

<main class="container">
    <div class="row">
        <div id="profile--banner">
            <img src="">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col col-md-3 p-4">
            {% include 'accounts/includes/profile-nav-left.html' %}
        </div>
        <div class="col p-4 d-flex flex-column align-items-center">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="100" class="profile-picture">
            {% endif %}

            <h2 class="profile--title mt-2">{{ user.first_name }} {{ user.last_name }}</h2>
            <!--<p>{{ user.email }}</p>-->

            {% if user.is_staff %}
            <p><strong>TPC Staff</strong></p>
            {% endif %}

            <p><span id="user--info-datejoined">Joined</span> {{ user.date_joined|date:"m/d/Y" }}</p>

            {% if user.country %}
            <p><em>{{ user.country }}</em></p>
            {% endif %}

            <p><span id="user--info-cookies">0</span> Cookies</p>
            <p><span id="user--info-connects">0</span> Connections</p>

            <div class="actions">
                {% if user == request.user %}
                <!--                <a href="/accounts/edit-profile/">Edit Profile</a>-->
                <!--                <a href="{% url 'profile_settings' %}">Preferences</a>-->
                <!--                <br>-->
                <!--                <form method="post" action="{% url 'logout' %}" style="display: inline-block;">-->
                <!--                    {% csrf_token %}-->
                <!--                    <button type="submit">Logout</button>-->
                <!--                </form>-->
                {% endif %}

                {% if user != request.user %}
                <a href="#follow">Connect</a>
                {% endif %}
            </div>
        </div>
        <div class="col col-md-3 p-4">
            <div class="row">
                <div class="d-flex align-items-center">
                    <input id="field--whatsnew" class="form-control me-2" type="text"
                           placeholder="What are you curious about?">
                    <button class="btn btn-outline-secondary" type="submit">&gt;</button>
                </div>
            </div>
            <hr>
            <h2>For You</h2>
            <div>
                <p>Coming soon...</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}