{% load static %}
<header class="col-11 pt-3 mx-auto mb-4">
    <div class="container">
        <div class="d-flex align-items-center">
            <a href="{% url 'profile' %}" title="Return to your profile" class="d-flex align-items-center me-2 mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img class="header--logo-40" src="{% static 'img/TPC Logo  --v1 --200px.png' %}" loading="lazy">
            </a>

            <ul role="menu" class="nav col d-flex ms-md-2 me-lg-auto mb-2 mb-md-0">
                <li class="me-md-5"><strong><span class="d-none d-lg-block">Tetra Prime Community</span><span class="d-block d-lg-none">TPC</span></strong></li>
                <li class="d-none d-md-block"><a href="{% url 'profile' %}" class="pe-5"><i class="bi bi-person-vcard me-1"></i> Your Profile</a></li>
                <li class="d-none d-md-block"><a href="{% url 'discover' %}" class="pe-5"><i class="bi bi-people-fill me-1"></i> Discover</a></li>
                <li class="d-none d-md-block"><a href="{% url 'tpc_whats_new' %}" class="pe-0"><i class="bi bi-newspaper me-1"></i> What's New</a></li>
            </ul>

            <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search the community..." aria-label="Search">
            </form>-->

            <!-- Dropdown nav -->
            <div role="menu" title="Navigation Menu" class="dropdown text-end">
                {% if unread_counts.unread_total %}<span class="position-absolute top-0 start-0 translate-middle p-1 bg-success border border-light rounded-circle"><span class="visually-hidden">New alerts</span></span>{% endif %}
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="mdo" width="32" height="32" class="rounded-3">
                    {% else %}
                    <img src="{% static 'custom/images/user-pfp-generic.png' %}" alt="mdo" width="32" height="32" class="rounded-3">
                    {% endif %}
                </a>
                <ul class="header--userdropdown dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-vcard me-1"></i> Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'my_projects' %}"><i class="bi bi-journals me-1"></i> Projects</a></li>
                    <li class="position-relative"><a class="dropdown-item" href="{% url 'inbox' %}"><i class="bi bi-envelope-exclamation me-1"></i> Messages {% if unread_counts.unread_total %}<span class="badge rounded-pill bg-success ms-1" style="" title="{{ unread_counts.unread_total }} Unread">{{ unread_counts.unread_total }}</span>{% endif %}</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'discover' %}"><i class="bi bi-people-fill me-1"></i> Discover</a></li>
                    <li><a class="dropdown-item" href="{% url 'tpc_whats_new' %}"><i class="bi bi-newspaper me-1"></i> What's New</a></li>
                    <!--<li><a class="dropdown-item" href="{% url 'edit_profile' %}"><i class="bi bi-pencil-square me-1"></i> Edit Profile</a></li>-->
                    <!--<li><a class="dropdown-item disabled" href="#helpcenter">Help Center</a></li>-->
                    <!--<li>
                        <hr class="dropdown-divider">
                    </li>-->
                    <!--<li><a class="dropdown-item" href="{% url 'create_project' %}"><i class="bi bi-journal-plus me-1"></i> Create Project</a></li>-->
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><!--<a class="dropdown-item disabled" href="#">Log out</a>-->
                        <form method="post" action="{% url 'logout' %}" style="display: block;">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit"><i class="bi bi-box-arrow-right me-1"></i> Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>