{% load static %}
<header class="p-3 mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img class="header--logo-40" src="{% static 'img/TPC Logo  --v1 --200px.png' %}" loading="lazy">
            </a>

            <ul class="nav col-12 col-lg-auto ms-2 me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="me-5"><strong>Tetra Prime Community</strong></li>
                <li><a href="{% url 'profile' %}" class="px-3">Profile</a></li>
                <li><a href="{% url 'people' %}" class="px-3">Discover</a></li>
                <li><a href="#" class="px-3">Groups</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search the community..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                    {% endif %}
                </a>
                <ul class="header--userdropdown dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'people' %}">Discover</a></li>
                    <li><a class="dropdown-item disabled" href="#groups">Groups</a></li>
                    <li><a class="dropdown-item disabled" href="#myprojects">Projects</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                    <li><a class="dropdown-item disabled" href="{% url 'profile_settings' %}">Settings</a></li>
                    <li><a class="dropdown-item disabled" href="#helpcenter">Help Center</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><!--<a class="dropdown-item disabled" href="#">Log out</a>-->
                        <form method="post" action="{% url 'logout' %}" style="display: block;">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>