<nav class="ps-4">
    <ul>
        <li><a href="{% url 'profile' %}">Your Profile</a></li>
        <!--<li><a href="#notifications" class="position-relative">Notifications
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary" style="font-size: .6rem;">
            10+
            <span class="visually-hidden">unread messages</span>
          </span></a>
        </li>-->
        <li><a href="{% url 'people' %}">Discover</a></li>
        <!--<li><a href="#Projects">Projects</a></li>-->
        <!--<li><a href="#groups">Projects</a></li>-->
    </ul>
    <!--<hr class="mt-5">
    <ul class="fs-6">
        <li><a href="{% url 'user_preferences' %}">Settings & Privacy</a></li>
        <li><a href="#helpcenter">Help Center</a></li>
    </ul>-->
</nav>