<nav class="ps-4">
    <ul>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="#notifications">Notifications</a></li>
        <li><a href="{% url 'people' %}">Discover</a></li>
        <li><a href="#groups">Groups</a></li>
        <li><a href="#groups">Projects</a></li>
    </ul>
    <hr class="mt-5">
    <ul class="fs-6">
        <li><a href="{% url 'profile_settings' %}">Settings & Privacy</a></li>
        <li><a href="#helpcenter">Help Center</a></li>
    </ul>
</nav>